* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 70%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
#header {
  position: sticky;
  top: 0;
  padding: 20px 50px;
  animation: header 2s alternate ease-in-out;
  backdrop-filter: blur(40px);
}
@keyframes header {
  0% {
    transform: translateY(-200px);
  }
}
.header {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.header a {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
#user {
  padding: 140px 0 50px 0;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_text {
  animation: user_text 3s alternate ease-in-out;
}
@keyframes user_text {
  0% {
    transform: translateX(-800px);
  }
}
.user img {
  animation: user_img 3s alternate ease-in-out;
}
@keyframes user_img {
  0% {
    transform: translateX(800px);
  }
}
.user_text h1 {
  width: 400px;
  font-size: 40px;
}
.user_text p {
  margin: 30px 0;
  width: 520px;
  font-size: 18px;
}
.user_text button {
  background: rgb(217, 47, 47);
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.user_text button:hover {
  background: red;
  transform: scale(1.1);
  transition: 1s;
}
#post {
  padding: 35px 0;
  background: #edf7fa;
}
.post_top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_buttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_box {
  border-radius: 5px;
  background: #fff;
  width: 330px;
  padding: 30px;
}
.post_box h2 {
  margin-bottom: 20px;
}
.post_year {
  margin: 28px 0 20px 0;
  font-size: 18px;
}
.post_year span {
  margin: 0 20px;
}
.post_box p {
  font-size: 17px;
  line-height: 25px;
}
#worck .container {
  border-bottom: 1px solid gray;
}
#worck {
  padding: 30px 0;
}
.work h3 {
  font-size: 25px;
  font-weight: 200;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-bottom: 30px;
}
.work_box img {
  height: 100%;
}
.work_box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.worck_box_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.work_year {
  align-items: center;
  display: flex;
  gap: 25px;
}
.work_year span {
  background: rgb(10, 10, 95);
  color: #fff;
  padding: 5px 9px;
  border-radius: 15px;
}

.work_year p {
  font-size: 22px;
  color: #0000008c;
}
.worck_box_text h2 {
  font-weight: 30px;
}
.worck_box_text p {
  width: 500px;
}
#footer {
  padding: 50px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_box ion-icon {
  margin: 0 18px;
}
.footer span {
  font-size: 36px;
}
